/* Estilos básicos */
body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Estilos del encabezado */
header {
  background-color: #005baa;
  color: white;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

/* Estilos del menú de navegación */
nav ul {
  background-color: #333;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #005baa;
}

/* Estilos de las secciones */
section {
  padding: 20px;
  background-color: white;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
  color: #005baa;
}

/* Estilo de la imagen del logo */
.logo {
  width: 150px;
  display: block;
  margin: 0 auto;
}

/* Estilos de la lista de facultades */
ul {
  list-style: square;
  margin: 10px 0;
}

ul li {
  margin: 5px 0;
}

/* Estilos para el botón de "Ver más detalles" */
button {
  background-color: #005baa;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #003d73;
}

/* Estilos del pie de página */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
